<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline';script-src 'self' https://ssl.gstatic.com 'unsafe-eval' 'self' https://*.googleapis.com 'unsafe-eval'; img-src *; font-src *; media-src *">-->
    <meta http-equiv="Content-Security-Policy" content="'unsafe-inline' *">
    <title>Wipro Car Pool App</title>
    <!-- CarPoolApp references -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="css/index.css" rel="stylesheet" />
    <style>
        .form-bottom form .input-error {
            border-color: #de615e;
        }
    </style>
</head>
<body ng-app="myApp12" ng-controller="UpdateCntrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>-->
                <a class="navbar-brand" href="#">
                    <div><i class="fa fa-car fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wipro Carpool App!</div>
                </a>
            </div>
            <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li style="background-color:white;line-height:50px;">
                        <span style="padding-left:15px;"><b>Welcome {{ userName }}!</b></span> <img class="updatelink" ng-src="images/editpng.png" ng-click="UpdateProfile(userName)" /> <i class="fa fa-gear fa-fw"></i>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="MyDashboard()">Dashboard</a></li>
                    <li><a href="#" ng-click="MyNotifications()">Notifications</a></li>
                    <li><a id="carownerShow2" href="#" ng-click="MyRides()">My Rides</a></li>
                    <li><a id="passangerShow2" href="#" ng-click="JoinRide()">Join Ride</a></li>
                    <li><a href="#">Rides History</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#" ng-click="logOut()">Log Out</a></li>
                </ul>
            </div>-->
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div style="display:table-cell">
                        <h3 style="display:table-cell" class="panel-title">Update &nbsp;</h3>
                    </div>
                    <div style="display:table-cell" ng-if="processing">
                        <div><img src="./images/spinner.gif" /></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="errordiv1" class="row" ng-if="iserror">
                            <div class="col-lg-12">
                                <div id="errormsg" class="alert alert-danger">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                        </div>
                        <div class="col-lg-12">
                            <div class="alert alert-success" ng-if="success">
                                New Password has been saved <a href="UpdateProfile.html"><b>Go to Back!!</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" class="login-form">                                                    
                            <div class="form-group">
                                <div class="change-group">
                                    <label>New Password</label>
                                    <input type="password" name="form-confirm-password" ng-model="txtnewpswd" placeholder="New Password" class="form-control changepswd" id="form-confirm-password">                                   
                                </div>
                            </div>
                            <!-- <div ng-hide="ismatch" class="alert alert-danger"> Password and confirm password must be matched.</div>-->
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="form-confirm-password" ng-model="txtconfirmpswd" placeholder="Change Password"  class="form-control changepswd" id="form-confirm-password">
                            </div>                            
                            <div ng-if="ismatchpswd" class="alert alert-danger"> New Password and confirm password must be matched.</div>                 
                            <button type="submit" class="btn btn-primary" id="savepswd" ng-click="UpdatePassword()">Save !</button>
                            <a  class="btn btn-primary1" id="gobackto" ng-click="GoBack()">GoBack EditProfile !</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted"> Powered By - Wipro Technologies Ltd.</p>
            </div>
        </footer>
    </div>


    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js" type="text/javascript"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/Error.js"></script>    
    <script src="scripts/EditProfile.js"></script>

</body>
</html>
