<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
    <title>Wipro Car Pool App</title>

    <!-- CarPoolApp references -->
    <link href="css/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="css/form-elements.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myApp" ng-controller="dashboardCtrl">
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="http://www.wipro.com" target="_blank" class="pull-left">
                            <img width="40" height="40" class="mscom-image mscom-left" id="D4F87B65-CB46-40F9-8458-56E05A099321" alt="WIPRO" src="images/wipro.jpg">
                        </a>
                       <a href="#" class="pull-right">  <img src="images/exit.png" height="20" width="20" ng-click="logOut()" /></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                            <table align="center">
                                <tr>
                                    <td colspan="2">
                                     <!-- <a href="#">  <img src="images/rideshare.jpg" ng-click="ShareRide()" height="100" width="100" /></a>-->
                                        <a href="#">  <img src="images/rideshare.jpg" ng-click="ShareRide1()" height="70" width="90" /></a>
                                    </td>
                                   <td>&nbsp;&nbsp;</td><td>&nbsp;&nbsp;</td>
                                    <td colspan="2">
                                        <a  href="#">  <img src="images/images-3.png" ng-click="JoinRide()" height="80" width="90" /></a>
                                    </td>
                                </tr>
                            </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/Error.js"></script>

    <!--<script type="text/javascript">
        var userdocid = window.localStorage.getItem("userid");
        var socket = io('http://carpooltestapp.azurewebsites.net:3000/');
        socket.on('connect', function () { });
        socket.emit('regUser', { userid: userdocid });

        window.localStorage.setItem("socket", socket);

        //socket.emit('sendNotification', { data: 'this is sreeram msg', userid:'678' });
        socket.on('recieveNotification', function (text) {
            navigator.notification.confirm(text, onConfirm, 'Confirmation', ['Accept', 'Reject']);
        });

        function onConfirm(buttonIndex) {
            var socket = window.localStorage.getItem("socket");
            if (buttonIndex == 1) {
                //navigator.notification.alert('Accepted');
                socket.emit('sendNotification', { data: 'Your ride is accepted by Owner', userid: '' });
            }
            if (buttonIndex == 2) {
                //navigator.notification.alert('Rejected');
                socket.emit('sendNotification', { data: 'Your ride is rejected by Owner', userid: '' });
            }

        }
    </script>-->

</body>
</html>