<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <link rel="shortcut icon" href="about:blank">

    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *">
    <title>Wipro Car Pool App</title>

    <!-- CarPoolApp references -->
    <!--<link href="css/index.css" rel="stylesheet" />-->
    <!--<link href="css/googleapifonts.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <!-- <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="css/form-elements.css">
     <link rel="stylesheet" href="css/style.css">-->

</head>
<body ng-app="myApp" ng-controller="dashboardCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <div><img src="images/icon-36-ldpi.png" />&nbsp;Wipro Carpool App!</div>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li style="background-color:white;line-height:50px;">
                        <span style="padding-left:15px;"><b>Welcome {{ userName }}!</b></span> <!--<i class="fa fa-pencil fa-fw"></i>-->
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="MyDashboard()">Dashboard</a></li>
                    <li><a id="carownerShow2" href="#" ng-click="MyRides()">My Rides</a></li>
                    <li><a id="passangerShow2" href="#" ng-click="JoinRide()">Join Ride</a></li>
                    <li><a href="#" ng-click="MyNotifications()">Notifications</a></li>
                    <li><a href="#" ng-click="logOut()">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div style="display:table-cell">
                        <h3 style="display:table-cell" class="panel-title">Dashboard &nbsp;</h3>
                    </div>
                    <!--<div style="display:table-cell" >
                        <div id="Loading" style="display:none"><img src="./images/spinner.gif" /></div>
                    </div>-->
                </div>
                <div class="panel-body">
                    <!--<div class="row">
                        
                        <div class="col-lg-12">
                            <div class="alert alert-danger">
                                Error Message.
                            </div>
                            <div class="alert alert-success">
                                Success Message. 
                            </div>
                        </div>
                    </div>-->
                    <section id="services" class="services">
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="row">
                                        <div id="carownerShow" class="col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <h4>
                                                    <a href="#" class="btn btn-light" ng-click="MyRides()"><i class="fa fa-car fa-5x"></i><br />My Rides </a>
                                                </h4>
                                                <p>Share your ride with wiproites</p>
                                            </div>
                                        </div>
                                        <div id="passangerShow" class="col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <h4>
                                                    <a href="#" class="btn btn-light" ng-click="JoinRide()"><i class="fa fa-car fa-5x"></i><br />Join Ride </a>
                                                </h4>
                                                <p>Join ride with wiproite</p>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="service-item">
                                                <h4>
                                                    <a href="#" class="btn btn-light" ng-click="MyNotifications()"><i class="fa fa-bullhorn fa-5x"></i><br />Notications</a>
                                                </h4>
                                                <p>Listen notifications from wiproites</p>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /.row (nested) -->
                                </div>
                                <!-- /.col-lg-10 -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.container -->
                    </section>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    © 2015 - Wipro Technologies
                </div>
            </div>
        </footer>
    </div>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/NotificationClientService.js"></script>
    <script src="scripts/app.js"></script>
 
    <script src="scripts/custom.js"></script>

  
</body>
</html>