<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline'; style-src 'self' 'unsafe-inline'; script-src 'self' https://ssl.gstatic.com 'unsafe-inline' 'self' https://*.googleapis.com 'unsafe-eval'; img-src *; font-src *; media-src *">-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-eval' *; style-src 'unsafe-inline' *; img-src * data:">
    <title>Wipro Car Pool App</title>

    <!-- CarPoolApp references -->
    <!--<link href="css/index.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="scripts/moment.min.js"></script>
    <style>
        #wrapper {
            position: relative;
        }
    </style>
    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/ride.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/NotificationClientService.js"></script>
    <script src="scripts/Error.js"></script>
    <script src="scripts/EditProfile.js"></script>
</head>
<body ng-app="myApp" ng-controller="dashboardCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <div><i class="fa fa-car fa-2x"></i>&nbsp;&nbsp; Wipro Carpool App!</div>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li style="background-color:white;line-height:50px;">
                        <span style="padding-left:15px;"><b>Welcome {{ userName }}!</b></span> <img class="updatelink" ng-src="images/editpng.png" ng-click="UpdateProfile(userName)" /> <!--<i class="fa fa-gear fa-fw"></i>-->
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="MyDashboard()">Dashboard</a></li>
                    <li><a href="#" ng-click="MyNotifications()">Notifications</a></li>
                    <li><a id="carownerShow2" href="#" ng-click="MyRides()">My Rides</a></li>
                    <li><a id="passangerShow2" href="#" ng-click="JoinRide()">Join Ride</a></li>
                    <li><a href="#" ng-click="RidesHistory()">Rides History</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#" ng-click="logOut()">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="errordiv" class="row">
                <div class="col-lg-12">
                    <div id="errormsg" class="alert alert-danger">
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div id="over_map">
                    <input type="text" id="txtDestination" class="form-control" />
                    <div id="demo"></div>
                </div>
                <div id="map" data-tap-disabled="true"></div>
                <!--<div id="over_map_button">
                    <input type="button" id="btnRide" class="btn btn-primary" style="width:100%;" value="Ride Now" data-toggle="modal" data-target="#carmodal" />

                </div>-->
            </div>
        </div>
        <div class="modal fade" id="validationmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal" role="form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Message</h4>
                        </div>
                        <div class="modal-body">
                            <span id="validationMsg"></span>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
            <!--<span id="validationMsg"></span>-->
        
        <div class="modal fade" id="carmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form-horizontal" role="form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Car Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="email">Car Owner: </label>
                                <div class="col-sm-8">
                                    <span id="carOwner"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Car Number:</label>
                                <div class="col-sm-8">
                                    <span id="carNumber"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">No. of seats available:</label>
                                <div class="col-sm-8">
                                    <span id="carSeatsCount"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">From:</label>
                                <div class="col-sm-8">
                                    <span id="carFrom"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">To:</label>
                                <div class="col-sm-6">
                                    <span id="carTo"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="pwd">Pick up points:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="ddlPickuppoints" style="width:80%"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <label class="checkbox-inline" for="chkreqforcurrgeolocn">
                                        <input type="checkbox" id="chkreqforcurrgeolocn" name="chkreqforcurrgeolocn">Request for current location
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnJoinRide">Join Ride</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted"> Powered By - Wipro Technologies Ltd.</p>
        </div>
    </footer>
    <!-- Cordova reference, this is added to your app when it's built. -->
    <!--<script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/ride.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/NotificationClientService.js"></script>
    <script src="scripts/Error.js"></script>
    <script src="scripts/EditProfile.js"></script>-->
</body>
</html>