<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-eval' *; style-src 'unsafe-inline' *; img-src * data:">
    
    <title>Wipro Car Pool App</title>

    <!-- CarPoolApp references -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="scripts/moment.min.js"></script>
    <style>
        #wrapper {
            position: relative;
        }
    </style>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="scripts/common.js"></script>
    <script src="scripts/tracking.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/NotificationClientService.js"></script>

    <script src="scripts/EditProfile.js"></script>
</head>
<body ng-app="myApp" ng-controller="dashboardCtrl">
    <!-- Navigation -->
    <!--<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <div><i class="fa fa-car fa-2x"></i>&nbsp;&nbsp; Wipro Carpool App!</div>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li style="background-color:white;line-height:50px;">
                        <span style="padding-left:15px;"><b>Welcome {{ userName }}!</b></span> <!--<i class="fa fa-gear fa-fw"></i>--> <img class="updatelink" ng-src="images/editpng.png" ng-click="UpdateProfile(userName)" />
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="MyDashboard()">Dashboard</a></li>
                    <li><a href="#" ng-click="MyNotifications()">Notifications</a></li>
                    <li><a id="carownerShow2" href="#" ng-click="MyRides()">My Rides</a></li>
                    <li><a id="passangerShow2" href="#" ng-click="JoinRide()">Join Ride</a></li>
                    <li><a href="#" ng-click="RidesHistory()">Rides History</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#" ng-click="logOut()">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="wrapper">
                <div id="map" data-tap-disabled="true"></div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted"> Powered By - Wipro Technologies Ltd.</p>
        </div>
    </footer>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <!--<script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <script src="scripts/common.js"></script>
    <script src="scripts/tracking.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/NotificationClientService.js"></script>

    <script src="scripts/EditProfile.js"></script>-->
</body>
</html>