<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-eval' *; style-src 'unsafe-inline' *; img-src * data:">
    <title>Wipro Car Pool App</title>
    <!-- CarPoolApp references -->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="scripts/moment.min.js"></script>
    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-1.11.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.backstretch.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/Error.js"></script>
    <script src="scripts/EditProfile.js"></script>
    <style>
        a.disabled {
            cursor: not-allowed;
            opacity: .65;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="usernotificationCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <div><i class="fa fa-car fa-2x"></i>&nbsp;&nbsp; Wipro Carpool App!</div>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li style="background-color:white;line-height:50px;">
                        <span style="padding-left:15px;"><b>Welcome {{ userName }}!</b></span> <!--<i class="fa fa-gear fa-fw"></i>--> <img class="updatelink" ng-src="images/editpng.png" ng-click="UpdateProfile(userName)" />
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" ng-click="MyDashboard()">Dashboard</a></li>
                    <li><a href="#" ng-click="MyNotifications()">Notifications</a></li>
                    <li><a id="carownerShow2" href="#" ng-click="MyRides()">My Rides</a></li>
                    <li><a id="passangerShow2" href="#" ng-click="JoinRide()">Join Ride</a></li>
                    <li><a href="#" ng-click="RidesHistory()">Rides History</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#" ng-click="logOut()">Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div style="display:table-cell">
                        <h3 style="display:table-cell" class="panel-title">Notifications &nbsp;</h3>
                    </div>
                    <div style="display:table-cell">
                        <div class="panel-title"><a href="usernotification.html" alt="Refresh" title="Refresh" data-toggle="tooltip"><i class="fa fa-refresh fa-1x"></i></a> &nbsp;</div>
                    </div>
                    <div style="display:table-cell">
                        <div id="Loading" style="display:none"><img src="./images/spinner.gif" /> &nbsp;</div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--<div class="alert alert-danger">
                                Error Message.
                            </div>
                            <div class="alert alert-success" ng-show="success">
                                <a href="ownernotification.html">Refresh!</a>
                            </div>-->
                            <div id="errordiv" class="row">
                                <div class="col-lg-12">
                                    <div id="errormsg" class="alert alert-danger">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <!--<th>S.No</th>-->
                                    <th>Photo</th>
                                    <th>Car Holder</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="data in notificationdata">
                                    <!--<td>{{$index + 1}}</td>-->
                                    <td>
                                        <img ng-src="{{data.photo}}" alt="pic" height="50" width="50" />
                                    </td>
                                    <td align="center">
                                        <div >
                                            {{data.ownername }} <br />
                                            <!--<a ng-href="tel: {{data.mobile}}" target="_blank" title="Call to {{data.ownername}}" data-toggle="tooltip">
                                                <img border="0" alt="MakeCall" src="images/makecall.png" width="25" height="25">
                                            </a>-->    
                                            <div ng-if="data.isownercurrentlocnallowed && data.status == 'accepted'">
                                                <a class="btn btn-sm btn-success" ng-class="{'disabled': data.status!='accepted'}" ng-click="trackownerlocation(data.ownerid);" href="#" title="Track location">
                                                    <i class="fa fa--map-marker"></i> Track car
                                                </a>
                                             </div>
                                                &nbsp;
                                                <a class="btn btn-info btn-circle" ng-href="tel: {{data.mobile}}" target="_blank" title="Call to {{data.ownername}}" data-toggle="tooltip">
                                                    <i class="fa fa-phone"></i>
                                                </a>
                                            </div>
                                    </td>
                                    <td align="center">
                                        {{data.status}}<br />
                                        <button class="btn btn-danger btn-circle" type="button" ng-class="{'disabled': data.status=='canceled'}" ng-click="data.status=='canceled' || cancelRideNotification(data.ownerid, data.rideid, data.passengerid,'canceled'); $event.stopPropagation();"><i class="fa fa-times"></i></button>
                                        
                                      <!--  <a href="#" alt="Cancel" ng-class="{'disabled': data.status=='canceled'}" ng-click="data.status=='canceled' || cancelRideNotification(data.ownerid, data.rideid, data.passengerid,'canceled'); $event.stopPropagation();"><i class="fa fa-remove fa-2x"></i></a>-->


                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted"> Powered By - Wipro Technologies Ltd.</p>
            </div>
        </footer>
    </div>


</body>
</html>